body{
    margin: 0;
}

/* Inizio header */
header{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 115, 255);
    background-image: url(img/pattern.png);
    background-size: contain;
}

#logo{
    width: 15%;
    margin-top: 40px;
    margin-left: 5px;
}
/* Fine header */

main{
    margin: 5px;
    font-size: 18px;
}

/* Prima sezione */
#titolo{
    font-size: 50px;
    margin-bottom: 5px;
}

#sottotitolo{
    font-size: 20px;
    color: grey;
    margin-bottom: 5px;
}

#booleaner{
    color: lightblue;
}

#data{
    color: grey;
    font-size: 15px;
    margin-bottom: 10px
}
/* Fine prima sezione */

/* inizio seconda sezione */
#tim{
    margin-top: 10px;
}

.foto-tim{
    width: 650px;
    height: 450px;
}

.descrizione{
    font-size: 15px;
}
/* Fine seconda sezione */

/* inizio sezione paragrafo e lista non ordinata */
.evidenziato{
    background-color: yellow;
}

ul{
    padding: 20px;
}
/* fine sezione paragrafo e lista non ordinata */

/* Inizio tabella */
#tabella{
    border-spacing: 0;
}

thead{
    background-color:  rgb(0, 191, 255);
    color: white;
}

th{
    width: 25%;
    text-align: left;
}

#terza-colonna{
    width: 50%;
}

tbody{
    height: 200px;
}

.linea-blu{
    background-color: aquamarine;
}
/* Fine tabella */

/* sezione finale */
#ultima-sezione{
    color: grey;
    font-size: 20px;
}

#prima-foto{
    width: 300px;
    height: 200px;
    background-image: url(img/monitor.jpg);
    margin-bottom: 10px;
}

#seconda-foto{
    width: 300px;
    height: 200px;
    background-image: url(img/graph.jpg);

}

.Lorem{
    color: white;
    padding: 10px;
    font-size: 25px;
}






