body{
    margin: 0;
}

/* Inizio header */
header{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 115, 255);
    background-image: url(img/pattern.png);
    background-size: contain;
}

#logo{
    width: 15%;
    margin-top: 40px;
    margin-left: 5px;
}
/* Fine header */

main{
    margin: 5px;
}

/* Prima sezione */
#titolo{
    font-size: 50px;
    margin-bottom: 5px;
}

#sottotitolo{
    font-size: 20px;
    color: grey;
    margin-bottom: 5px;
}

#booleaner{
    color: lightblue;
}

#data{
    color: grey;
    font-size: 15px;
    margin-bottom: 10px
}
/* Fine prima sezione */

/* inizio seconda sezione */
#tim{
    margin-top: 10px;
}

.foto-tim{
    width: 650px;
    height: 450px;
}
/* Fine seconda sezione */

